# Django-Framework
Django>=3.2.4,<=3.3

# Django RESTApi Extension
djangorestframework>=3.12.4,<3.13

# PostgreSQL Database
psycopg2>=2.8.6,<2.9

# OpenAPI 3.0 Documentation for the API
drf-spectacular>=0.15.1,<0.16